html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 264px;
  height: 100%;
  /* background-color: lightpink; */
  color: black;
  display: flex;
  flex-direction: column;

  padding: 24px 24px 0 0;
}




.map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
}

app-toolbar{
  position: fixed;
  top: 24px;
  left: 24px;
  display: flex;
  box-sizing: border-box;
  }
