html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#app-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 264px;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
