<p>properties works!</p>
<body>

  <div id="name-block"> <!-- Nazwa, opis, typ -->

    <div style="display: flex; gap: 8px; align-self: stretch">
      <div id="name"
        contenteditable="true"
        class="editable"> Title
      </div>

      <div id="geometry-type"
           contenteditable="true"
           class="editable"> Type
      </div>
    </div>

    <div id="description"
         contenteditable="true"
         class="editable">
            Description
    </div>

    <div id="type-list">
      <div style="display: flex; width: 100%;">
        <div class="type-button" >
          xx
        </div>
      </div>
      <button id="add-type">
        +
      </button>
    </div>

  </div>

  <div id="design-block">

  </div>

  <div id="attributes-block">

  </div>


</body>
