/* You can add global styles to this file, and also import other style files */
:root {
  /* Definicje kolorów bazowych */
  --B100: #E0DFDD;

  /* Kolor z przezroczystością */
  --B75: rgba(224, 223, 221, 0.75);

  /* Kolor dla tła okien */
  --Window-bg: var(--B75);


  --font-title: 500 18px 'TT Commons';

  --button-border: 8px;
  --window-border: 16px;
}


@font-face {
  font-family: 'TT Commons';
  src:
  url('./assets/fonts/TT Commons/TT Commons Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src:
    url('./assets/fonts/TT Commons/TT Commons Medium.otf') format('truetype');
  font-weight: 500 ;
  font-style: normal;
}
