<div id="toolbar">
  <div id="cursor" class="tool"><img  id="cursor-icon" src="/assets/tools/Cursor-default.svg" alt="cursor tool"></div>

  <div id="point" class="tool"
       (mouseenter)="changePointIcon('hover')"
       (mouseleave)="changePointIcon('default')"
       (click)="changePointIcon('clicked')">
    <img id="point-icon" [src]="iconSrc" alt="point tool"> </div>

  <div id="line" class="tool"><img  id="line-icon" src="/assets/tools/Line-default.svg" alt="line tool"></div>
  <div id="polygon" class="tool"><img  id="polygon-icon" src="/assets/tools/Polygon-default.svg" alt="polygon tool"></div>

    <div class="divider-tool"></div>

  <div id="arrow" class="tool"> <img id="arrow-icon" src="/assets/tools/Arrow-default.svg" alt="Arrow tool"></div>
  <div id="note" class="tool"> <img id="note-icon" src="/assets/tools/Note-default.svg" alt="Note tool"></div>
  <div id="draw" class="tool"> <img  id="draw-icon" src="/assets/tools/Draw-default.svg" alt="Pen tool"></div>

   <div class="divider-tool"></div>

  <div id="group" class="tool"> <img id="group-icon" src="/assets/tools/Group-default.svg" alt="Grouping tool"></div>
  <div id="split" class="tool"><img id="split-icon" src="/assets/tools/Split-default.svg" alt="Splitting tool"></div>
</div>



